/* GENERAL SETUP */

html, body {
    margin: 0;
    padding: 0;

}

html {
    font-size: 10px;
    background: linear-gradient(130deg, rgb(235, 217, 181, 1) 0%, rgba(236, 105, 164, 1) 50%, rgba(89, 232, 247, 1) 100%)
}

body {
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
}

/* TYPOGRAPHY */

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

h1 {
    font-size: 4rem;
    text-align: center;
    /* horizontal shadow, vertical shadow, blur radius */
    text-shadow: 2px 2px 10px rgb(49, 9, 9);
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
}

p, li {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1.6rem;
    line-height: 1.5;
}

/* HEADER LAYOUT */

header {
    margin-bottom: 10px;
}

main, header, nav, article, aside, footer, section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
}

nav {
    height: 50px;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    text-align: center;
    flex: 1;
    font-size: 2rem;
    text-transform: uppercase;
}

/* MAIN LAYOUT */

main {
    display: flex;
}

section, article {
    flex: 4;
    /* section and article will take up 80% of the viewport (4/4+1)) */
}

aside {
    flex: 1;
    /* aside will take up 20% of the viewport (1/(1+4)) */
    margin-left: 10px;
    padding: 1%;
}

aside a {
    float: left;
    width: 50%;
}

aside img {
    max-width: 100%;
}

footer {
    margin-top: 10px;
}
